In [1]:
ls

Dockerfile      Untitled.ipynb  hello_world.py  run.sh

In [12]:
f = open('num.csv', 'w+')

In [13]:
for i in range(20):
#     print('{}, {}'.format(i, i), file = f)
    print(i, file = f)

In [15]:
import pandas as pd

In [68]:
df = pd.read_csv('num.csv', header = None)

In [69]:
x = df.sum()[0]

In [70]:
df

     0
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
10  10
11  11
12  12
13  13
14  14
15  15
16  16
17  17
18  18
19  19